@keyframes lds-ripple {
  0% {
    top: 94px;
    left: 94px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 17px;
    left: 17px;
    width: 154px;
    height: 154px;
    opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 94px;
    left: 94px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 17px;
    left: 17px;
    width: 154px;
    height: 154px;
    opacity: 0;
  }
}
.lds-ripple {
  position: relative;
}
.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 6px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
  border-color: #ebe7e6;
}
.lds-ripple div:nth-child(2) {
  border-color: #fd8d56;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-ripple {
  width: 100px !important;
  height: 100px !important;
    margin: 0 auto;
  -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
  transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}
#miaPopup_modal_container {
    text-align: center
}

._miaPopup.modal_form_style {
    border: none;
    padding: 30px 4% 30px;
}

.modal_form_style p._orangeBigText {
    font-size: 40px !important;
    color: #fea726;
    
}
.modal_form_style p {
    font-size: 20px !important;
    font-weight: normal;
}

._hr {
        height: 1px;
    border: 1px solid black;
    background-color: black;
    width: 60px;
    top: -5px;
    position: relative
}
